@font-face {
    font-family: 'fortnite';
    src: URL("../assets/fonts/fortnite.otf");
}

#root, #root div {
    height: 100%;
}

body {
    font-family: fortnite;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: URL("../assets/fortnite-background.png");
    background-size: cover;
    background-repeat: none;
}

main {
    display: flex;
    justify-content: center;
}

